/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 300;
    font-family: var(--font-primary);
    margin-top: 0;
    color: var(--color-primary);
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h2);
    font-weight: 600;
    color: var(--color-primary);
}

h3 {
    font-family: var(--font-primary);
    font-size: var(--font-size-h3);
    line-height: 120%;
    font-weight: 600;
}

h4 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h4);
    font-weight: 700;
    line-height: 100%;
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}
