/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }

    &.disabled {
        color: #e2e2e2;
    }
}
a {
    font-family: var(--font-primary);
    font-size: var(--font-size-a);
    line-height: 20px;
    font-weight: 700;
}
a.button {
    font-family: var(--font-primary);
    font-size: var(--font-size-button);
    line-height: 30px;
    font-weight: 900;
}
