/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001514;

    // Couleurs du projet
    --color-primary: #4e6aff;
    --color-a: #212121;
    --color-a-sec: #ffe1ea;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-a);
}
