{% include '_partials/_header.html' %}

<!-- Hero -->
<section class="hero">
    <div class="wrapper">
        <div class="hero_medias">
            <img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
        </div>
        <div class="hero_content">
            <h1>
                La
                <span class="titre">crème</span>

                de la crème
            </h1>
            <p>
                Votre rêve de p’tit cul est sur le point de se réaliser. Vous avez toujours rêvé de performer autant sur les internets que sur une surface
                glacée. Saississez votre chance dès aujourd’hui et joignez l’équipe de timCanada afin de vous dépasser dans un environement sécurisé et serein.
            </p>
            <a href="#" class="button">Joignez notre équipe</a>
        </div>
    </div>
</section>
<!-- Athlètes -->

<section class="athletes">
    <div class="spacing_section"></div>
    <div class="wrapper">
        <h2>Nos athlètes</h2>
        <p>
            Nos athlètes sont sélectionnés parmi les meilleurs de leur génération. Sans aucun ajout d’hormones de croissances (à l’exception des Doritos), ils
            perfoment toujours à leur maximum.
        </p>
        <div class="cards">
            <div class="card">
                <div class="card_medias">
                    <img src="assets/images/matt-pratt.jpg" alt="" />
                </div>
                <div class="card_content">
                    <h3>Matt Pratt</h3>
                    <svg class="icon">
                        <use xlink:href="#icon-snow"></use>
                    </svg>
                </div>
            </div>
            <div class="card">
                <div class="card_medias">
                    <img src="assets/images/ben-lavigne.jpg" alt="" />
                </div>
                <div class="card_content">
                    <h3>Ben Lavigne</h3>
                    <svg class="icon">
                        <use xlink:href="#icon-skate"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_medias">
                <img src="assets/images/jeff-white.jpg" alt="" />
            </div>
            <div class="card_content">
                <h3>Jeff White</h3>
                <svg class="icon">
                    <use xlink:href="#icon-ski"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<!-- Gallery -->

<h2>Sports en image</h2>

<img src="assets/images/swiper1.jpg" alt="" />
<img src="assets/images/swiper2.jpg" alt="" />
<img src="assets/images/swiper3.jpg" alt="" />

<!-- Footer -->

<a href="#">
    <svg class="icon">
        <use xlink:href="#icon-logo"></use>
    </svg>
    tim canada
</a>
<nav>
    <ul>
        <li>
            <a href="#">
                <svg class="icon">
                    <use xlink:href="#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg class="icon">
                    <use xlink:href="#icon-dribble"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg class="icon">
                    <use xlink:href="#icon-twitter"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="#">
                <svg class="icon">
                    <use xlink:href="#icon-youtube"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>

<p class="copyright">Tous droits réservés © 2025 tim canada.</p>

{% include '_partials/_footer.html' %}
